<link rel="me" href="https://social.lol/@binarydigit"></a>
<link rel="me" href="https://neonpixels.city/@binarydigit" />


<div class="text-sm text-neutral-500 dark:text-neutral-400">
    <div class="flex items-center justify-between">
        <p>
            &copy; 2024 BinaryDigit
          <br>
            <a href="https://time.is/Detroit" id="time_is_link" rel="nofollow">Current time:</a>
            <span id="Detroit_z12c"></span>
            <script src="//widget.time.is/t.js"></script>
            <script>
            time_is_widget.init({Detroit_z12c:{time_format:"hours:minutes"}});
            </script>
        </p>
      <p>
      <script src="https://status.lol/binarydigit.js?link"></script>
      </p>
  
    </div>
  </div>